#bio,#xp,#contact{
	padding:50px;
	/*border-left:1px solid rgba(255,255,255,1);*/
	/*border-top:1px solid rgba(255,255,255,1);*/
}
.col-md-4{
	box-sizing: border-box;
	padding:50px;
	background-color: rgba(255,255,255,0.2);
	border:2px solid rgba(255,255,255,0);	/*background-color: rgba(255,255,255,0.4);*/
	/*border-left:1px solid rgba(255,255,255,1);*/
	/*border-top:1px solid rgba(255,255,255,1);*/
	transition: .25s all;
}
.col-md-4:hover{
	box-sizing: border-box;
	cursor:pointer;
	border:2px solid rgba(255,255,255,1);	/*background-color: rgba(255,255,255,0.4);*/
	/*border-left:1px solid rgba(255,255,255,1);*/
	/*border-top:1px solid rgba(255,255,255,1);*/
}
.row{
	min-height: 170px;
	min-width: 200px;
}
canvas{
	position:absolute;
	top:0px;
	left:0px;
}