@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

a{
	font-size:18px;
	color:rgba(0,0,0,0.9);
}
body{
	color:black;
	background-color:rgba(0, 0, 0, 1);
	font-family: 'Quattrocento Sans', sans-serif;
}
